html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  text-align: center;
  margin:  auto;
}
main{
  border-radius: 20px;
  width: 95vw;
  background-color: orange;
  padding: 20px 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px solid black;
  margin: auto auto;
}
details{
  background-color: #010101;
  color: orange;
  border-radius: 2px;
}
span{
  color: magenta;
}
button{
  background-color: orange;
  color: black;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}
button:hover{
  background-color: black;
  color: orange;
}
input{
  background-color: transparent;
  width: 70%;
  padding: 10px;
}
#proses{
  text-align: center;
}
.container{
  width: 80%;
  margin: auto;
}
@media (min-width:600px) {
  main{
    width: 600px;
  }
}
